<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../utils/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <nav class="mnu-navbar">
        <input type="checkbox" id="nav-check">
        <label for="nav-check" class="btn-checkbox">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo" for="">Teste Logo</label>
        <ul>
            <li class=""><a href="#">item 1</a></li>
            <li><a href="#">item 2</a></li>
            <li><a href="#">item 3</a></li>
            <li><a href="#">item 4</a></li>
            <li><a href="#">item 5</a></li>
        </ul>
    </nav>
    <!-- <main class="main-navbar">
        <iframe src="home.html" frameborder="0" > </iframe>
    </main> -->
</body>
</html>